# Google Apps Script Web App Deployment URL for RSVP submissions
# GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/YOUR_APPS_SCRIPT_DEPLOYMENT_ID/exec
NEXT_PUBLIC_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycby6EgW8RNUl-Vj86yZCRbj20pbCCkiIQR4JKy0wAGqA3dztjpNFDFFuof05g8tC90c/exec
